<!DOCTYPE html>
<html>
<head>
  <title>Tacoz</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="container">
    <header id="site-header">
      <div class="row">
        <div class="col-sm-4">
          <%= link_to(image_tag('logo.jpg'), root_path) %>
        </div>
        <div class="col-sm-8">
          <%= render('shared/topsearch') %>
          <br>
        <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete)%>
        <% else %>
          <%= link_to('Login with Twitter', user_omniauth_authorize_path(:twitter))%>
        <% end %>  
        </div>
      </div>
      <%= render('shared/topnav') %>
    </header>
    <section id="site-content">
      <%= yield %>
    </section>
    <footer id="site-footer">
      <p class="text-center">
        <small>copyright &copy; 2014 Tacoz</small>
      </p>
    </footer>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
